:root {
    /* Colours */
    --color-bg: #f5f5dc;

    --primary-cafe: #5a3e36;
    --secondary-cafe: #a9825a;
    --primary-verde: #415b2a;
    --secondary-verde: #789262;
    --color-bg2: #a9c2a4;

    --color-dark: #0b2447;
    --color-text: #04152d;

    /* Fonts */
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Poppins', sans-serif;
}